* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #ECF2F8;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    margin: 0;
}

.container {
    background-color: #1A1B21;
    margin-top: 2em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    border-radius: 10px;
}

.top-container {
    text-align: center;
}

.top-avatar {
    height: 360px;
    width: 360px;
    margin-bottom: 1.5em;
    border-radius: 10px 10px 0 0;
}

.top-name {
    font-size: 1.75rem;
    color: #FFFFFF;
}

.top-role {
    font-size: .875rem;
    color: #F3BF99;
    margin-bottom: .5em;
}

.top-website {
    color: #F5F5F5;
    font-size: .75rem;
}

.top-website:hover {
    text-decoration: underline;
    font-weight: 600;
}

.btn-link-container {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btn-link-email {
    background-color: #FFFFFF;
    color: #1E1F26;
    padding: 12px 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: .875rem;
}

.btn-link-linkedin {
    background-color: #5093E2;
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: .875rem;
}

.main {
    width: 360px;
    padding: 2.25em;
}

.main-title {
    color: #F5F5F5;
    margin-bottom: 0.35em;
}

.main-desc {
    color: #DCDCDC;
    font-size: .85rem;
}

.main-desc:first-of-type{
    margin-bottom: 1.5em;
}

footer {
    background-color: #161619;
    border-radius: 0 0 10px 10px;
    margin-bottom: 2em;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 2em;
}